<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="row no-gutters">
            <a href="/home" class="col-md-4 logo">
            </a>
            <div class="col-md-8">
              <div class="row no-gutters bg-color-name-title">
                <div class="col heading">
                  <h1 class="name">Arabica Restaurant</h1>
                  <h2 class="title">Authentic Syrian food</h2>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col">
                  <ul id="nav" class="list-inline nav-container">
                    <li class="col-6 col-sm-3 ui-nav-colr-home list-inline-item menu-item">
                      <a href="/home" class="hvr-sweep-to-bottom"><span>Home</span></a>
                    </li>
                    <li class="col-6 col-sm-3 ui-nav-colr-reservation list-inline-item menu-item">
                      <a href="/reservation" class="hvr-sweep-to-bottom"><span>Reservation</span></a>
                    </li>
                    <li class="col-6 col-sm-3 ui-nav-colr-menu list-inline-item menu-item">
                      <a href="/menu" class="hvr-sweep-to-bottom"><span>Menu</span></a>
                    </li>
                    <li class="col-6 col-sm-3 ui-nav-colr-contact list-inline-item menu-item">
                      <a href="/contact" class="hvr-sweep-to-bottom"><span>Contact</span></a>
                    </li>
                    <li class="col-6 col-sm-3 ui-nav-colr-contact list-inline-item menu-item">
                      <a href="/bookings" class="hvr-sweep-to-bottom"><span>My Reservation</span></a>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
        </div>
    </header>
    
</body>
</html>